---
import Layout from '../layouts/Layout.astro';
import Content from '../components/content.astro'
---

<Layout>
	<main>
        <header slot="header">
            welcome sur le test d'astro
        </header>
        <Content title="Le grand test" nom="Mohamed"/>
        <a href="./marck/test">Go check marckdown</a>
        <footer slot="footer">
            <a href="./testMd/">Aller dans le bas</a>
            test footer
        </footer>
	</main>
</Layout>
